<vdr-page-header>
  <vdr-page-title></vdr-page-title>
</vdr-page-header>
<vdr-page-body>
  <!-- optional if you want some button at the top -->
  <vdr-data-table-2
    id="review-list"
    [items]="items$ | async"
    [itemsPerPage]="itemsPerPage$ | async"
    [totalItems]="totalItems$ | async"
    [currentPage]="currentPage$ | async"
    [filters]="filters"
    (pageChange)="setPageNumber($event)"
    (itemsPerPageChange)="setItemsPerPage($event)"
  >
    <!-- Here we define all the available columns -->
    <vdr-dt2-column
      [heading]="'common.id' | translate"
      [hiddenByDefault]="false"
    >
      <ng-template let-review="item">{{ review.id }}</ng-template>
    </vdr-dt2-column>
    <vdr-dt2-column
      [heading]="'common.created-at' | translate"
      [hiddenByDefault]="true"
      [sort]="sorts.get('createdAt')"
    >
      <ng-template let-review="item">
        {{ review.createdAt | localeDate : 'short' }}
      </ng-template>
    </vdr-dt2-column>
    <vdr-dt2-column [heading]="'common.image' | translate">
      <ng-template let-review="item">
        <div class="image-placeholder">
          <img
            *ngIf="
              review.product?.featuredAsset as asset;
              else imagePlaceholder
            "
            [src]="asset | assetPreview : 'tiny'"
          />
          <ng-template #imagePlaceholder>
            <div class="placeholder">
              <clr-icon shape="image" size="48"></clr-icon>
            </div>
          </ng-template>
        </div>
      </ng-template>
    </vdr-dt2-column>
    <vdr-dt2-column heading="Product" [optional]="false">
      <ng-template let-review="item">{{ review.product?.name }}</ng-template>
    </vdr-dt2-column>
    <vdr-dt2-column heading="Summary" [sort]="sorts.get('text')">
      <ng-template let-review="item"
        ><a class="button-ghost" [routerLink]="['./', review.id]"
          ><span>{{ review.text }}</span>
          <clr-icon shape="arrow right"></clr-icon> </a
      ></ng-template>
    </vdr-dt2-column>

    <vdr-dt2-column heading="Rating" [sort]="sorts.get('rating')">
      <ng-template let-review="item">
        <star-rating [rating]="review.rating" />
      </ng-template>
    </vdr-dt2-column>
  </vdr-data-table-2>
</vdr-page-body>
